body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:881px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:38px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u321 {
  position:absolute;
  left:52px;
  top:207px;
  width:829px;
  height:38px;
  opacity:0.6;
  font-size:20px;
}
#u322 {
  position:absolute;
  left:2px;
  top:8px;
  width:825px;
  word-wrap:break-word;
}
#u323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:47px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:28px;
  text-align:center;
}
#u323 {
  position:absolute;
  left:73px;
  top:25px;
  width:227px;
  height:47px;
  font-size:28px;
  text-align:center;
}
#u324 {
  position:absolute;
  left:10px;
  top:10px;
  width:207px;
  word-wrap:break-word;
}
#u325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:47px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:28px;
  text-align:center;
}
#u325 {
  position:absolute;
  left:73px;
  top:135px;
  width:227px;
  height:47px;
  font-size:28px;
  text-align:center;
}
#u326 {
  position:absolute;
  left:10px;
  top:10px;
  width:207px;
  word-wrap:break-word;
}
#u327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:29px;
  background:inherit;
  background-color:rgba(175, 175, 175, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u327 {
  position:absolute;
  left:651px;
  top:216px;
  width:221px;
  height:29px;
  color:#0000FF;
}
#u328 {
  position:absolute;
  left:2px;
  top:7px;
  width:217px;
  word-wrap:break-word;
}
#u329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:38px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u329 {
  position:absolute;
  left:52px;
  top:419px;
  width:829px;
  height:38px;
  opacity:0.6;
  font-size:20px;
}
#u330 {
  position:absolute;
  left:2px;
  top:8px;
  width:825px;
  word-wrap:break-word;
}
#u331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:47px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:28px;
  text-align:center;
}
#u331 {
  position:absolute;
  left:73px;
  top:347px;
  width:227px;
  height:47px;
  font-size:28px;
  text-align:center;
}
#u332 {
  position:absolute;
  left:10px;
  top:10px;
  width:207px;
  word-wrap:break-word;
}
#u333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:29px;
  background:inherit;
  background-color:rgba(175, 175, 175, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u333 {
  position:absolute;
  left:651px;
  top:428px;
  width:221px;
  height:29px;
  color:#0000FF;
}
#u334 {
  position:absolute;
  left:2px;
  top:7px;
  width:217px;
  word-wrap:break-word;
}
#u335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:38px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u335 {
  position:absolute;
  left:52px;
  top:685px;
  width:829px;
  height:38px;
  opacity:0.6;
  font-size:20px;
}
#u336 {
  position:absolute;
  left:2px;
  top:8px;
  width:825px;
  word-wrap:break-word;
}
#u337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:47px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:28px;
  text-align:center;
}
#u337 {
  position:absolute;
  left:73px;
  top:613px;
  width:227px;
  height:47px;
  font-size:28px;
  text-align:center;
}
#u338 {
  position:absolute;
  left:10px;
  top:10px;
  width:207px;
  word-wrap:break-word;
}
#u339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:29px;
  background:inherit;
  background-color:rgba(175, 175, 175, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u339 {
  position:absolute;
  left:651px;
  top:694px;
  width:221px;
  height:29px;
  color:#0000FF;
}
#u340 {
  position:absolute;
  left:2px;
  top:7px;
  width:217px;
  word-wrap:break-word;
}
#u341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u341 {
  position:absolute;
  left:414px;
  top:21px;
  width:269px;
  height:51px;
  font-size:18px;
}
#u342 {
  position:absolute;
  left:2px;
  top:14px;
  width:265px;
  word-wrap:break-word;
}
#u343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:49px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:18px;
}
#u343 {
  position:absolute;
  left:430px;
  top:345px;
  width:253px;
  height:49px;
  font-size:18px;
}
#u344 {
  position:absolute;
  left:10px;
  top:10px;
  width:233px;
  word-wrap:break-word;
}
#u345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:49px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:18px;
}
#u345 {
  position:absolute;
  left:457px;
  top:613px;
  width:253px;
  height:49px;
  font-size:18px;
}
#u346 {
  position:absolute;
  left:10px;
  top:10px;
  width:233px;
  word-wrap:break-word;
}
#u347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
  background:inherit;
  background-color:rgba(175, 175, 175, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u347 {
  position:absolute;
  left:52px;
  top:428px;
  width:61px;
  height:29px;
  color:#0000FF;
}
#u348 {
  position:absolute;
  left:2px;
  top:7px;
  width:57px;
  word-wrap:break-word;
}
#u349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
  background:inherit;
  background-color:rgba(175, 175, 175, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u349 {
  position:absolute;
  left:52px;
  top:694px;
  width:61px;
  height:29px;
  color:#0000FF;
}
#u350 {
  position:absolute;
  left:2px;
  top:7px;
  width:57px;
  word-wrap:break-word;
}
